---
import DefaultLayout from '@layouts/DefaultLayout.astro'
---

<DefaultLayout title="FAQ">
  <section class="my-12">
    <div class="container space-content">
      <h1>FAQ</h1>
      <p class="text-2xl">This is a placeholder for the FAQ page.</p>
    </div>
  </section>
</DefaultLayout>
