---
import DefaultLayout from '@layouts/DefaultLayout.astro'
---

<DefaultLayout title="当社について">
  <section class="my-12">
    <div class="container space-content">
      <h1>当社について</h1>
      <p class="text-2xl">こちらは当社情報ページのプレースホルダーです。</p>
    </div>
  </section>
</DefaultLayout>
