---
import DefaultLayout from '@layouts/DefaultLayout.astro'
---

<DefaultLayout title="よくある質問">
  <section class="my-12">
    <div class="container space-content">
      <h1>よくある質問</h1>
      <p class="text-2xl">こちらはFAQページのプレースホルダーです。</p>
    </div>
  </section>
</DefaultLayout>
