---
import DefaultLayout from '@layouts/DefaultLayout.astro'
---

<DefaultLayout title="料金">
  <section class="my-12">
    <div class="container space-content">
      <h1>料金</h1>
      <p class="text-2xl">こちらは料金ページのプレースホルダーです。</p>
    </div>
  </section>
</DefaultLayout>
