---
import DefaultLayout from '@layouts/DefaultLayout.astro'
---

<DefaultLayout title="お客様の声">
  <section class="my-12">
    <div class="container space-content">
      <h1>お客様の声</h1>
      <p class="text-2xl">こちらはお客様の声ページのプレースホルダーです。</p>
    </div>
  </section>
</DefaultLayout>
