---
import CallToAction from './CallToAction.astro'
import { Heading } from 'accessible-astro-components'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Shane Lee
      </p>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }

  .container {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;
  }
</style>
