---
import Navigation from '../components/Navigation.astro'
import { Link, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <Link href="/">Home</Link>
    </li>
    <li class="menu-item">
      <Link href="/library/">Library</Link>
    </li>
    <li class="menu-item">
      <Link href="/portfolio/">Portfolio</Link>
    </li>
    </li>
    <li class="menu-item highlight">
      <a 
        href=`${import.meta.env.BASE_URL}/resume.pdf`
        target="_blank" 
        rel="noopener noreferrer"
      >
        Resume
      </a>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <Link href="https://github.com/Shaninhooo">
        <Icon aria-hidden="true" name="lucide:github" />
        <span class="sr-only">Go to the GitHub page</span>
      </Link>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
