---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Badge, Card, Heading, Link, Pagination } from 'accessible-astro-components'
import { getCollection } from 'astro:content'
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { slugify } from '@/utils/slugify'
import ProjectCard from '../../components/ProjectCard.astro'

export const getStaticPaths = (async ({ paginate }) => {
  const projects = await getCollection('projects')
  
  // Simple alphabetical sort to avoid the 'valueOf' error for now
  const sortedProjects = projects.sort((a, b) => a.data.title.localeCompare(b.data.title))

  const allTags = projects.map((project) => project.data.tags).flat()
  const uniqueTagLabels = [...new Set(allTags)].sort((a, b) => a.localeCompare(b))
  const uniqueTags = uniqueTagLabels.map((label) => ({
    label,
    slug: slugify(label),
  }))

  return paginate(sortedProjects, {
    pageSize: 6,
    props: { uniqueTags },
  })
}) satisfies GetStaticPaths


interface Props {
  uniqueTags: { label: string; slug: string }[]
}

const { page, uniqueTags } = Astro.props

console.log(page.lastPage)
---

<DefaultLayout>
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      page.data.map((project) => (
        <li>
          <ProjectCard
            url={'/portfolio/' + project.slug}
            title={project.data.title}
            description={project.data.description}
            tags={project.data.tags}
          />
        </li>
      ))
    }
  </ul>
</DefaultLayout>